.mainDiv {
    width: clamp(900px, 90%, 1800px);
    padding: 10px;

    background: {
        color: white;
    }

    ;

    border: {
        radius: 25px;
    }

    text: {
        align: center;
    }

    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introo {
    width: 100%;
  height: 100%;
  font-weight: bold;
  font-size: clamp(47px, 3vw, 76px);
}

.introText {
    width: clamp(400px, 70%, 70%);


    padding: {
        top: 10px;
    }
}

.summaryText {
    padding: 25px 50px 50px 50px;
    /* top right bottom left */
    font-size: clamp(15px, 2.7vw, 32px);
    width: clamp(80%, 80%, 80%);
}

@mixin divContent {
    border-radius: 10px;
    /* Example background color for items */
}

.introContentDiv {
    @include divContent;


}

@media (min-width: 1399px) and (max-width: 10000000px) {
    .topDivStyle {
      @include divContent;
      background-color: #ebedef;
      display: flex; // Use only one display type
      gap: 1rem;
      border-radius: 25px;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
    }

    .introDivGrid {
        padding: 29px 30px 0 30px;
        display: grid;
        row-gap: 1.5rem;
        grid-template-rows: 1fr 3fr 0.7fr;
        width: 100%;
        height: 100%;
    }
    
    .logoCol {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        overflow: hidden;
        padding: 10px;
    }

    .innerTopDiv {
        height: 90%;
        width: 90%; 
        background-color: transparent;
        border: 2px solid transparent; // Initial border set to transparent
        border-radius: 25px;
        transition: border-width 0.3s ease, border-color 0.3s ease; // Smooth transition for border properties
        padding: 0 15px 0 15px;
        text-align: left;
    
        &:hover {
            border-width: 0.5px; // Change border width on hover
            border-color: rgb(190, 190, 190); // Change border color on hover
            color: #008fff; // Change border color on hover
        }
    
        ;
        cursor: pointer;
        /* Ensure the cursor is a pointer on hover */
        transition: background-color 0.3s ease,
        border-color 0.3s ease,
        color 0.3s ease;
        overflow: hidden;
        /* Smooth transition for background color and border color */
    }
  }
  
  @media (min-width: 0px) and (max-width: 1400px) {
    .topDivStyle {
      @include divContent;
      background-color: #ebedef;
      height: 650px;
      display: grid; // Use only one display type
      gap: 0.4rem;
      border-radius: 25px;
      grid-template-rows: 1fr 1fr 1fr;
      padding: 10px 10px 10px 10px;

      align-items: center;
    }

    .introDivGrid {
        padding: 29px 30px 0 30px;
        display: grid;
        row-gap: 1rem;
        grid-template-rows: 1fr 1fr 0.4fr;
        width: 100%;
        height: 100%;
    }

    .logoCol {
        display: grid;
        grid-template-rows: 1fr 1fr;
        gap: 1rem;
        overflow: hidden;
        padding: 10px;
    }
    

    .innerTopDiv {
        height: 100%;
        width: 100%; 
        background-color: transparent;
        border: 2px solid transparent; // Initial border set to transparent
        border-radius: 25px;
        transition: border-width 0.3s ease, border-color 0.3s ease; // Smooth transition for border properties
        padding: 0 15px 0 15px;
        text-align: left;
    
        &:hover {
            border-width: 0.5px; // Change border width on hover
            border-color: rgb(190, 190, 190); // Change border color on hover
            color: #008fff; // Change border color on hover
        }
    
        ;
        cursor: pointer;
        /* Ensure the cursor is a pointer on hover */
        transition: background-color 0.3s ease,
        border-color 0.3s ease,
        color 0.3s ease;
        overflow: hidden;
        /* Smooth transition for background color and border color */
    }
  }


.innerDivTitle {
    font: {
        weight: 500;
        size: clamp(26px, 35px, 45px);
    }

    padding: 10px 0 8px 0;
}

.innerDivBody {
    font-size: clamp(23px, 1.3vw, 30px);
    color: rgb(132, 132, 132);
}

.selected {
    background-color: white;
    border-width: 0.5px; // Change border width on hover
    border-color: rgb(190, 190, 190);
}

.selectedText {
    color: #008fff;
}

.videoDiv {
    border-radius: 12px;
    border-width: 0;
}

.yo {
    width: 100%;
    height: 100%;
    background-color: transparent;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.1);
    /* Add shadow effect */
}

.logoColOne {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;

}

.logoColTwo {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.image {
    width: 14px;
    height: 4px;
}

